@import url('http://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

body {
  background-color:black;
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  text-align: center;
  margin: 50px;
}


div.master_board {
  background-color: white;
  position: absolute;
  left:50%;
  top:50%;
  height: 350px;
  width: 350px;
  margin-left:-170px;
  margin-top:-170px;
}

div.board.small {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  height: 100%;
  width: calc(100% / 3);
  border: 3px solid grey;
}

.row {
  display: block;
  height: calc(100% / 3);
  width: 100%;
}

.row:before,
.row:after {
    content:"";
    display: table ;
     clear:both;
}

.tile {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  min-height: 1px;
  height: 100%;
  width: calc(100% / 3);
  border: 1px solid grey;
}

.board.small.x-class {
  border: 3px solid darkred;
}

.board.small.o-class {
  border: 3px solid darkblue;
}

.board.small.x-class .tile {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  opacity: 0.3;
  border: 3px solid darkred;
}

.board.small.o-class .tile {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  opacity: 0.3;
  border: 3px solid darkblue;
}

.x-class {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: red;
  border: 3px solid darkred;
}
.o-class {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: blue;
  border: 3px solid darkblue;
}
